branches:
  only:
  - master
  - Develop

language: node_js
node_js:
  - "8"

env:
  - TEST_DIR=client

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
    - "node_modules"

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - cd $TEST_DIR
  - npm install

  # Unit Tests
  - npm run test-ci
  # End-to-end Test
  - npm run e2e

notifications:
   email: false