branches:
  only:
  - master
  - Develop

language: node_js
node_js:
  - "8"

env:
  - TEST_DIR=client

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - screen

cache:
  directories:
    - "node_modules"

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
 
 install:
  - npm install -g gulp
  - npm install --save-dev gulp

before_script:
  - gulp
  - screen -dm ionic serve -b -a -d --nogulp --address localhost --port 8100
  - sleep 15

script:
  - cd $TEST_DIR
  - npm install

  # Unit Tests
  - npm run test -- --single-run
  # End-to-end Test
  - npm run e2e

notifications:
   email: false