branches:
  only:
  - master
  - Develop

language: node_js
node_js:
  - "8"

env:
  - TEST_DIR=client

cache:
  directories:
    - "node_modules"

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - cd $TEST_DIR
  - npm install

  # Unit Tests
  - npm run test -- --single-run

notifications:
   email: false