page-assessment-summary {
    .summary-title {
        margin-top: 1.5rem !important;
        font-size: 3rem;
    }

    .summary-percentage {
        font-size: 6.0rem;
        color: #2e8b57;
    }

    p {
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

        b {
        color: #000000;
        }
    }
}
