page-home {
    .home-title {
      margin-top: 2.8rem !important;
    }

    p {
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }
}
