<ion-header>
  <ion-navbar>
    <ion-title>Face Emotion Recognition</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding scroll="false">
  <ion-slides pager #slides>
    <ion-slide *ngFor="let q of assessment">
      <ion-card class="square">
        <img src="{{q.question_img}}"/>
      </ion-card>

      <h4 [innerHTML]="q.question"></h4>
      <ion-list no-lines radio-group (ionChange)=select($event)>
        <ion-item *ngFor="let a of q.answers">
          <ion-label>{{a.answer}}</ion-label>
          <ion-radio value="{{a.answer_id}}"></ion-radio>
        </ion-item>
      </ion-list>
      
      <ion-buttons>
        <button ion-button outline block (click)="submit()" [disabled]="disableNextButton()">Next</button>
      </ion-buttons>
    </ion-slide>
  </ion-slides>
</ion-content>
