page-assessment-changing-sets {
    .button-container {
        padding: 1em 0;
    }

    .button-height {
        height: 30vh;
    }
    
    .button-container button[disabled] {
        opacity: 1 !important;
    } 
}
